<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <title>Movie</title>
</head>
<body>
<h2 th:inline="text">Hello [[${movie.firstName}]] </h2>

First name: <span th:inline="text"> [[${movie.firstName}]] </span> <br />
Last name: <span th:inline="text"> [[${movie.lastName}]] </span> <br />
Movie Title: <span th:inline="text"> [[${movie.movieTitle}]] </span> <br />
Movie Rating: <span th:inline="text"> [[${movie.movieRating}]] </span> <br />
Time: <span th:inline="text"> [[${movie.submitTime}]] </span> <br />

<a href="/movie">Show the movie list</a>

</body>
</html>