<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <title>Movie List</title>
</head>
<body>
<a href="/movie/new">Add a movie</a>
<br/>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Movie Title</th>
    <th>Movie Rating</th>
    <th>Time Created</th>
  </tr>
  <tr th:each="movie : ${movieList}">
    <td th:text="${movie.firstName}"></td>
    <td th:text="${movie.lastName}"></td>
    <td th:text="${movie.movieTitle}"></td>
    <td th:text="${movie.movieRating}"></td>
    <td th:text="${movie.submitTime}"></td>
  </tr>
</table>
</body>
</html>